@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  height: 100%;
  margin: 150px 60px;

  .subHeader {
    @include m.flex();
    margin-bottom: 40px;
    font-size: 32px;
    font-family: "Junge", serif;
  }

  .categoriesWrap {
    @include m.flex();
    margin-bottom: 50px;

    .categories {
      @include m.flex();
      column-gap: 8vw;
      margin-right: 8vw;

      > li {
        cursor: pointer;

        &.selected {
          font-weight: bold;
          color: c.$C_SKYBLUE;
        }

        &:hover {
          font-weight: bold;
          color: c.$C_SKYBLUE;
        }
      }
    }

    > input {
      padding: 4px 8px;
      border: none;
      border-radius: 6px;
    }
  }

  .loading {
    @include m.flex();
    font-size: 3vw;
  }

  .productsWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex-wrap: wrap;
    column-gap: 16px;
    width: 100%;
    height: 100%;
    padding: 20px;

    > p {
      height: 100vw;
      margin: auto;
    }
  }

  @media (max-width: 1023px) {
    .subHeader {
      font-size: 3vw;
    }

    .categoriesWrap {
      .categories {
        column-gap: 4vw;
        margin-right: 4vw;
      }
    }

    .productsWrap {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  @media (max-width: 767px) {
    .subHeader {
      font-size: 3.8vw;
    }

    .categoriesWrap {
      @include m.flex(column);
      margin-bottom: 20px;
      .categories {
        column-gap: 3vw;
        margin-right: 3vw;
        > li {
          margin-bottom: 30px;
        }
      }
    }

    .productsWrap {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

  @media (max-width: 480px) {
    margin: 100px 30px;

    .subHeader {
      font-size: 4.3vw;
    }

    .productsWrap {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}
