@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.button {
  width: 100%;
  height: 5.4vh;
  flex-shrink: 0;
  background: c.$C_DARKNAVY;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: c.$C_BACKGROUND;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: c.$C_SKYBLUE;
  }
}

@media (max-width: 1023px) {
  .button {
    min-height: 5vh;
    font-size: 14px;
  }
}
