@use "../../../styles/constants" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
  // @include m.flex(row, space-between, center);
  @include m.flex();
  width: 80vw;
  margin-bottom: 4%;
  // gap: 5%;
  .productImg {
    width: 20vw;
    height: 20vw;
    // padding-bottom: 100px;
    object-fit: cover;
    // overflow: hidden;
  }

  .title {
    font-size: 1.6vw;
  }
}
