@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.cartStatus {
  @include m.flex();
  width: 22px;
  height: 22px;
  border: 1px solid c.$C_WHITE;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6;
}
