@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  // @include m.flex(column);
  height: 100vh;
  padding: 150px 20%;
  overflow-y: scroll;

  .subHeader {
    margin-bottom: 50px;
    font-family: "Junge", serif;
    font-size: 32px;
    text-align: center;
  }

  .uploadWrap {
    @include m.flex();

    // height: 100%;

    > figure {
      position: relative;
      width: 30vw;
      height: 70vh;
      background-color: lightgray;
    }

    .uploadImage {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    .uploadForm {
      @include m.flex(column);
      width: 30vw;
      height: 70vh;
      padding: 0 2%;
      border: 1px solid c.$C_DARKNAVY;

      > label {
        width: 100%;
        margin-bottom: 3%;

        .uploadBtn {
          padding: 2vh;
          border: 1px solid c.$C_DARKNAVY;
          background: transparent;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          letter-spacing: 2.5px;
          color: c.$C_DARKNAVY;

          :hover {
            background-color: c.$C_DARKNAVY;
          }
        }
      }

      .fileInput {
        display: none;
      }

      > input {
        width: 100%;
        padding: 30px;
        margin-bottom: 3%;
        border: 1px solid c.$C_DARKNAVY;
        background-color: transparent;
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 160px 10%;

    .subHeader {
      font-size: 3vw;
    }

    .uploadWrap {
      @include m.flex(column);
      > figure {
        width: 80vw;
        height: 50vh;
      }
      .uploadForm {
        width: 80vw;
        height: 100%;
        padding: 4%;
      }
    }
  }

  @media (max-width: 767px) {
    .subHeader {
      font-size: 3.8vw;
    }
  }

  @media (max-width: 480px) {
    .subHeader {
      font-size: 4.3vw;
    }
  }
}
