@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  @include m.flex(column);
  min-height: 100vh;
  overflow-y: scroll;

  > h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.3vw;
    font-family: "Junge", serif;
  }
  .uploadWrap {
    @include m.flex();
    height: 100%;
    > figure {
      width: 26vw;
      height: 60vh;
      background-color: lightgray;
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size: cover;
      position: relative;
      // overflow: hidden;
      // margin-right: 30px;
    }
    .uploadImage {
      position: absolute;
      width: 100%;
      height: 100%;
      // top: 0;
      // left: 0;
      // right: 0;
      object-fit: cover;
      overflow: hidden;
    }
    .uploadForm {
      @include m.flex(column);
      width: 26vw;
      height: 60vh;
      padding: 0 2%;
      border: 1px solid c.$C_DARKBROWN;
      > label {
        width: 100%;
        margin-bottom: 3%;
        .uploadBtn {
          letter-spacing: 2.5px;
          font-size: 18px;
          text-align: center;
          // height: 5.4vh;
          padding: 2vh;
          border: 1px solid c.$C_DARKBROWN;
          background: transparent;
          color: c.$C_DARKBROWN;
          font-weight: bold;
          :hover {
            background-color: c.$C_DARKBROWN;
          }
        }
      }
      .fileInput {
        display: none;
      }
      > input {
        width: 100%;
        background-color: transparent;
        border: 1px solid c.$C_DARKBROWN;
        padding: 30px;
        margin-bottom: 3%;
      }
    }
  }

  @media screen and (max-width: 1023px) {
  }
}
