@use "../styles/constants" as c;
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

*,
*:after,
*:before {
  font-family: "Didact Gothic", serif, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: c.$C_BEIGEPINK;
  color: c.$C_DARKBROWN;
}

#root {
  width: 100%;
  margin: 0 auto;
}

body,
textarea,
button {
  font-family: "Didact Gothic", serif, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  font-family: "Didact Gothic", serif, sans-serif;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin-top: 0;
}

pre {
  font-family: "Didact Gothic", serif, sans-serif;
}

textarea {
  resize: none;
  height: 76px;
  font-family: "Didact Gothic", serif, sans-serif, Spoqa Han Sans JP, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
