@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

.wrapper {
  @include m.flex(column);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100%;
  scroll-padding-top: calc(50vh - 50%);

  .landing_section1 {
    background: url("../../assets/images/mainImg.jpg") no-repeat fixed center 90%;
    background-size: cover;

    height: 100vh;
    width: 100%;

    .logoWrap {
      @include m.flex();
      position: absolute;
      width: 100%;
      height: 100%;
      .logo {
        position: fixed;
        width: 32vw;

        filter: drop-shadow(0px 0px 4px c.$C_WHITE);
        opacity: 1;
        transition: opacity 1s ease;

        &.scrolled {
          opacity: 0;
          transition: opacity 1s ease;
        }
      }
    }
  }

  .landing_section2 {
    position: relative;
    height: 100vh;
    width: 100%;
    @include m.flex();
    z-index: 999;
    > img {
      // position: relative;
      width: 50vw;
      height: 100%;
      object-fit: cover;
    }
    .mainImg2 {
      position: relative;
    }

    .descriptionWrap1 {
      width: 50%;
      background: rgba(0, 0, 0, 0.075);
      /* for iPhone */
      // -webkit-backdrop-filter: blur(2px);
      // -moz-backdrop-filter: blur(2px);
      // -o-backdrop-filter: blur(2px);
      // backdrop-filter: blur(2px);
      // transform: scale(1.01);
      font-family: "Cormorant Garamond";
      color: c.$C_WHITE;
      top: 0;
      left: 0;
      bottom: 0;
      // right: 0;
      // z-index: 999;
      position: absolute;
      font-size: 5vw;
      // font-weight: bold;
      // font-family: "Junge", serif;
      .description {
        position: relative;
        // @include m.flex(row, flex-start);
        // // vertical-align: middle;
        // padding-top: 30vh;
        height: 20vh;

        // font-size: 20vw;
        // margin-left: -60px;

        width: 100%;
        .text1 {
          letter-spacing: 1.9px;
          position: absolute;
          top: 70%;
          left: 25%;
        }
        .text2 {
          letter-spacing: 1.9px;
          position: absolute;
          top: 90%;
          right: 9%;
          transform: rotate(90deg);
        }
        .text3 {
          letter-spacing: 1.9px;
          position: absolute;
          top: 180%;

          right: 16%;
        }
      }
    }
    .descriptionWrap2 {
      @include m.flex();
      width: 100%;
      height: 100%;
      background-color: c.$C_BACKGROUND;
      .mainImg3 {
        position: relative;
        // z-index: 999;
        width: 30vw;
        height: 60vh;

        object-fit: cover;
      }
      width: 50%;

      z-index: 999;
      .text1 {
        top: 9%;
        position: absolute;
        font-size: 9vw;
        color: c.$C_DARKNAVY;
        // text-align: center;
        font-family: "Cormorant SC";
        // writing-mode: vertical-lr;
        // font-weight: bold;
        // /* 세로로 오른쪽 -> 왼쪽 */
        // // writing-mode: vertical-rl;
        // filter: drop-shadow(0px 0px 4px #ffffff9d);
        // /* 영어는 추가로 사용해야함 */
        // text-orientation: upright;
        z-index: -1;
      }
      .text2 {
        position: absolute;
        bottom: 10%;
        font-size: 9vw;
        color: c.$C_DARKNAVY;
        font-family: "Comforter Brush";
      }
    }
  }

  .landing_section3 {
    background: url("../../assets/images/mainImg7.jpg") no-repeat fixed center 30%;
    // background: url("../../assets/images/mainImg5.jpg") no-repeat center 70%;

    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    @include m.flex();
    .descriptionWrap {
      @include m.flex();
      position: absolute;
      width: 100%;
      height: 100vh;
      // z-index: 9999;
      .description {
        // @include m.flex();
        // position: absolute;
        position: fixed;
        // height: 100vh;
        bottom: 40%;
        margin: 0 auto;
        width: 55vw;
        span {
          vertical-align: middle;
          color: c.$C_DARKNAVY;
          font-size: 1.2vw;
          font-style: italic;
          padding-right: 46px;
        }
        opacity: 0;
        transition: opacity 1s ease;

        text-align: center;
        line-height: 1.8;
        width: 50vw;
        font-family: "Junge", serif;
        font-size: 1.7vw;
        color: c.$C_WHITE;
        &.scrolled {
          opacity: 1;
          transition: opacity 1s ease;
        }
      }
    }
  }

  .landing_section4 {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 999;
    // background-size: cover;
    // position: relative;
    // height: 100vh;
    // width: 100%;
    background-color: c.$C_BACKGROUND;
    > svg {
      position: absolute;
      top: 10%;
      left: 33%;
      width: 16vw;
      height: 30vh;
    }
    > a {
      // writing-mode: vertical-lr;
      // /* 영어는 추가로 사용해야함 */
      // text-orientation: upright;
      position: absolute;
      bottom: 10%;
      left: 4%;
      font-size: 5.4vw;
      color: c.$C_DARKNAVY;
      font-weight: bold;
      font-family: "Cormorant SC";
      cursor: pointer;

      &:hover {
        filter: drop-shadow(0px 4px 4px #34334398);
      }
      > svg {
        margin-left: 1vw;
        width: 10%;
        margin-bottom: -0.2vh;
      }
    }
    .mainImg4 {
      position: absolute;
      top: 12%;
      left: 4%;
      width: 27vw;
      height: 50vh;
      object-fit: cover;
    }
    .mainImg5 {
      position: absolute;
      bottom: 0;
      left: 36%;
      width: 26vw;
      height: 58vh;
      object-fit: cover;
      z-index: 999;
    }
    .mainImg6 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50vw;
      height: 100%;
      object-fit: cover;
      object-position: bottom 30%;
    }
    .subDescription {
      position: absolute;
      top: 16%;
      right: 0;
      transform: rotate(90deg);
      font-size: 2.6vw;

      font-family: "Cormorant Garamond";
      color: c.$C_WHITE;
      font-weight: 500;
    }
    .text1 {
    }
    .text2 {
      margin-top: 10%;
      margin-left: 70%;
    }
  }

  .landing_section5 {
    background: url("../../assets/images/mainImg8.jpg") no-repeat fixed center 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    @include m.flex();
    .descriptionWrap {
      @include m.flex();
      position: absolute;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      width: 55vw;
      .description {
        span {
          vertical-align: middle;
          color: c.$C_DARKNAVY;
          font-size: 1.2vw;
          font-style: italic;
          padding-right: 46px;
        }
        opacity: 0;
        transition: opacity 0.4s ease;

        text-align: center;
        line-height: 1.8;

        font-family: "Junge", serif;
        font-size: 1.7vw;
        color: c.$C_WHITE;
        &.scrolled {
          opacity: 1;
          transition: opacity 2s ease;
        }
      }
    }
  }

  // // tablet
  @media screen and (max-width: 1023px) {
    .landing_section1 {
      .mainImage {
        height: 100vh;
        object-fit: cover;
      }
      .animation1 {
        top: 9%;
        .logo {
          width: 30vw;
          margin: auto;
        }
      }
      .descriptionWrap {
        .description {
          font-size: 3.6vw;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .contents figure {
      flex: 0 0 48%;
    }
  }

  @media (max-width: 480px) {
    .contents figure {
      flex: 0 0 100%;
      margin: 0;
    }
  }
}
