@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  .mainImage {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  section {
    @include m.flex(column);
    // position: fixed;
    // bottom: 0;
    // left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: -500px;
    // transform: translateY(100%);
    // transition: transform 1s ease;
    // overflow: scroll;
    &.show {
      transform: translateY(100%);
      // transition: transform 1s ease;
      // top: 0;
      // width: 100vw;
      // height: 100vh;
      // top: 0;
    }

    .descriptionWrap {
      @include m.flex(column);

      height: 100vh;
      // font-weight: 600;

      .description {
        width: 340px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 90px;
        font-size: 50px;
        line-height: 1.1;
        color: #fff;
      }

      .logo {
        width: 340px;
        margin-bottom: 500px;
      }
    }

    .productWrap {
      @include m.flex();
      height: 730px;
      gap: 12px;
      .product1 {
        width: 500px;
        height: 730px;
      }
      .product2 {
        width: 700px;
        height: 730px;
      }
      .product3 {
        width: 500px;
        height: 730px;
      }
    }
  }

  .mainImage3 {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .descriptionWrap {
      position: absolute;
      top: 430px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      padding: 0 20px;
      color: #fff;

      .description {
        width: 260px;
        margin-top: 0;
        margin-bottom: 70px;
        font-size: 32px;
      }

      .logo {
        width: 140px;
      }
    }
  }
}
