@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.headerWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 70px;
  z-index: 9999;
  transition: background-color 0.3s ease;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15));

  > ul {
    width: 100vw;
    padding: 36px 40px 0;

    .header {
      @include m.flex(space-between);
      width: 100%;

      .leftSide {
        @include m.flex(row, flex-start);
        text-align: left;
      }

      .rightSide {
        @include m.flex(row, flex-end);
        text-align: right;
        vertical-align: middle;
        .login,
        .logout {
          margin-top: 3px;
        }
        .logo {
          // margin-right: 30px;
          font-family: "Cormorant SC";
          font-size: 1.5vw;
          opacity: 0;
          transition: opacity 1s ease;
          color: c.$C_DARKBROWN;
          &.scrolled {
            opacity: 1;
          }
        }
      }

      .leftSide,
      .rightSide {
        width: 100%;

        > li {
          letter-spacing: 0.4px;
          margin: 0 20px;
          font-size: 0.9vw;
          color: c.$C_WHITE;
          cursor: pointer;
        }
      }
    }

    @media (max-width: 1023px) {
      .header {
        .leftSide,
        .rightSide {
          > li {
            font-size: 1.2vw;
          }
        }
        .rightSide {
          .logo {
            font-size: 2.2vw;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .mobileHeader {
        @include m.flex(row, flex-start);

        .logo {
          // margin-right: 30px;
          @include m.flex(row, flex-end);
          font-family: "Cormorant SC";
          font-size: 20px;
          opacity: 0;
          transition: opacity 1s ease;
          color: c.$C_DARKBROWN;
          width: 100%;

          &.scrolled {
            opacity: 1;
          }
        }
      }
    }
  }
}
