@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.productCardWrap {
  width: 100%;
  height: 100%;
  // padding-bottom: 30%;
  padding-bottom: 100px;
  color: c.$C_DARKNAVY;
  cursor: pointer;

  .productImgWrap {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    overflow: hidden;

    .productImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.03);
      }
      &:focus {
        transform: scale(1);
      }
    }
  }

  .productInfo {
    font-family: "Cormorant SC";
    font-size: 1.2vw;
    h3 {
      padding-bottom: 8px;
    }
  }

  @media (max-width: 1023px) {
    .productInfo {
      font-size: 2vw;
    }
  }

  @media (max-width: 767px) {
    .productInfo {
      font-size: 3vw;
    }
  }

  @media (max-width: 480px) {
    .productInfo {
      font-size: 3.7vw;
    }
  }
}
