@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  @include m.flex();
  width: 100%;
  height: 100vh;
  background-color: c.$C_BEIGEPINK;

  img {
    width: 30vw;
    height: 70vh;
    object-fit: cover;
  }
  .InfoWrap {
    @include m.flex(column);
    border: 1px solid c.$C_DARKBROWN;
    width: 30vw;
    min-width: 20vw;
    height: 70vh;
    padding: 0 5vw;
    color: c.$C_DARKBROWN;

    h2 {
      margin-bottom: 10px;
      font-size: 38px;
      font-family: "Junge", serif;
      // width: 100%;
      flex-shrink: 0;
    }
    .summaryInfo {
      margin-bottom: 45px;
      font-family: "Junge", serif;
      font-style: italic;
    }

    .description {
      padding: 45px 0;
      text-align: center;
      line-height: 1.4;
      border-top: 1px solid c.$C_DARKBROWN;
      border-bottom: 1px solid c.$C_DARKBROWN;
    }

    .mainInfo {
      @include m.flex(row, space-between);
      width: 100%;
      padding: 10% 15%;
      flex-shrink: 0;
      .optionWrap {
        label {
          font-size: 18px;
          flex-shrink: 0;
          // font-weight: bold;
        }
      }
      .price {
        flex-shrink: 0;
        // margin-bottom: 45px;
        font-size: 22px;
        // font-weight: bold;
        font-family: "Junge", serif;
      }
    }

    .customBtn {
      width: 100%;
      height: 60px;
      flex-shrink: 0;
      font-weight: bold;
      background: c.$C_DARKBROWN;
      color: c.$C_BEIGEPINK;
      cursor: pointer;
      transition: all 0.3s ease;
      letter-spacing: 2.5px;
    }

    .btn1 {
      transition: all 0.3s ease;
    }

    .btn1:hover {
      background: #72635f;
      box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
        7px 7px 20px 0px rgba(0, 0, 0, 0.3), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }
  }
}
