@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  @include m.flex();
  width: 100%;
  height: 100vh;

  img {
    width: 34%;
    height: 70%;
    object-fit: cover;
  }

  .InfoWrap {
    @include m.flex(column);
    border: 1px solid c.$C_DARKBROWN;
    width: 34%;
    height: 70%;
    padding: 5vw;
    color: c.$C_DARKBROWN;

    h2 {
      margin-bottom: 0.7vw;
      font-size: 1.8vw;
      font-family: "Junge", serif;
      // width: 100%;
      flex-shrink: 0;
    }
    .summaryInfo {
      margin-bottom: 2.8vh;
      font-family: "Junge", serif;
      font-style: italic;
      font-size: 0.8vw;
    }

    .description {
      padding: 2.8vh 0;
      text-align: center;
      line-height: 1.4;
      border-top: 1px solid c.$C_DARKBROWN;
      border-bottom: 1px solid c.$C_DARKBROWN;
    }

    .mainInfo {
      @include m.flex(row, space-between);
      width: 100%;
      padding: 10% 15%;
      flex-shrink: 0;
      .optionWrap {
        label {
          font-size: 1vw;
          flex-shrink: 0;
          font-family: "Junge", serif;
        }
      }
      .price {
        flex-shrink: 0;
        // margin-bottom: 45px;
        font-size: 1vw;
        // font-weight: bold;
        font-family: "Junge", serif;
      }
    }
  }

  @media (max-width: 1023px) {
    @include m.flex(column);
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    margin: 90px 0;
    img {
      width: 70%;
      height: 70%;
      max-height: 100%;
      object-fit: cover;
    }
    .InfoWrap {
      @include m.flex(column);
      border: 1px solid c.$C_DARKBROWN;
      width: 70%;
      min-width: 20vw;
      height: 100%;
      // max-height: 100%;
      padding: 5vw 5vw;
      color: c.$C_DARKBROWN;

      h2 {
        margin-bottom: 2vw;
        font-size: 5vw;
        font-family: "Junge", serif;
        // width: 100%;
        flex-shrink: 0;
      }
      .summaryInfo {
        margin-bottom: 2.8vw;
        font-family: "Junge", serif;
        font-style: italic;
        font-size: 2.8vw;
      }

      .description {
        padding: 2.8vw 0;
        text-align: center;
        line-height: 1.4;
        border-top: 1px solid c.$C_DARKBROWN;
        border-bottom: 1px solid c.$C_DARKBROWN;
      }

      .mainInfo {
        @include m.flex(row, space-between);
        width: 100%;
        padding: 10% 15%;
        flex-shrink: 0;
        .optionWrap {
          label {
            font-size: 3vw;
            flex-shrink: 0;
            // font-weight: bold;
          }
        }
        .price {
          flex-shrink: 0;
          // margin-bottom: 45px;
          font-size: 3vw;
          // font-weight: bold;
          font-family: "Junge", serif;
        }
      }
    }
  }
}
