@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  @include m.flex(column, flex-start);
  height: 100vh;
  margin: 150px 20%;
  overflow-y: scroll;

  .subHeader {
    margin-bottom: 50px;
    font-family: "Junge", serif;
    font-size: 32px;
  }

  > ul {
    width: 100%;
  }

  .priceWrap {
    @include m.flex(column, flex-end);
    width: 100%;
    padding: 4% 0;
    text-align: end;

    > div {
      @include m.flex(row, flex-end);
      width: 100%;
      margin-bottom: 2%;
      font-size: 18px;

      > p:first-child {
        text-align: right;
      }

      > p:last-child {
        width: 15vw;
      }
    }
  }

  @media (max-width: 1023px) {
    .subHeader {
      font-size: 3vw;
    }

    .priceWrap {
      padding: 10% 0;

      > div {
        font-size: 24px;

        > p:last-child {
          width: 20vw;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .subHeader {
      font-size: 3.8vw;
    }

    .priceWrap {
      padding: 10% 0;

      > div {
        font-size: 24px;

        > p:last-child {
          width: 26vw;
        }
      }
    }
  }

  @media (max-width: 480px) {
    margin: 100px 20%;

    .subHeader {
      font-size: 4.3vw;
    }

    .priceWrap {
      > div {
        font-size: 18px;
        > p:last-child {
          width: 34vw;
        }
      }
    }
  }
}
